.every {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

td {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  text-align: center;
}

.normal {
  background-color: rgb(250, 250, 250);
}

.mole {
  background-image: url(./CatchMole/moleimg.png);
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: center center;
}

.closed {
  background-image: url(./CatchMole/moledeadimg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}